@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.main {
     background-image: url("../images/69d6ba9a68e799f1329c39619ef82311_t.jpg");
     background-repeat: space;
     height: auto;
     width: 1200px;
}

#post_raty img {
    width: 50px;
    
}

#card_img {
    width: 200px;
    height: 200px;
}

#show_img {
    width: 300px;
    height: 300px;
}