
<section id="infomation">
    <h3 class "md-3"> 
        <div class=" ">
            このサイトについて
        </div>
    </h3>
    <div class="h3 m-5 text-center">
        <div class="row m-5">サイト概要</div>
        <div class="row m-5">サイトテーマ</div>
        <div class="row m-5">このサイトは、新規就農を目指す際の 初期投資の「目視化」と 「専用施設、機具の市場価格」及び</div>
        <div class="row m-5">「家畜一個体の管理表」 を目指しつつ</div>
        <div class="row m-5">「耕作放棄地」と「機具」のレビュー、そして「家畜」の管理表とスケジュールを作成できます。</div>
    </div>    
    
    <div class="h3 m-5 text-center">
        <div class="row m-5">主な利用シーン</div>
        <div class="row m-5">新規就農シュミレーションをしたい時</div>
        <div class="row m-5">個体情報を探したい時</div>
        <div class="row m-5">個体スケジュールを作成、確認したい時</div>
        <div class="row m-5">農場に新しい施設や機具を導入する時</div>
        <div class="row m-5">農場の規模を広げたい時</div>
    </div>
</section>  
 